@media (max-width:  1200px)
	.promo
		.title
			font-size: 36px
	
	

@media (max-width:  991px)
	.subcharapter
		font-size: 18px
	.promo
		padding: 15px 0 0 0;
		min-height: 640px;
		.title
			font-size: 30px
		.title_small
			padding-top: 20px
			font-size: 20px;
		.promo_wrapper
			justify-content: space-between 
			.cover_book
				margin-left: auto
	.bulits
		font-size: 16px
		.text_second
			font-size: 16px;
			margin: 20px auto;
		.learn
			font-size: 16px
		.futter_btn
			margin-top: 15px
			width: 550px
			font-size: 16px
	footer
		font: 1em sans-serif

@media (max-width:  767px)
	.promo
		min-height: 670px;
		.title
			font-size: 24px
		.title_small
			padding-top: 15px
			font-size: 15px
		.promo_wrapper
			flex-direction: column
			.cover_book
				margin-left: auto

	.bulits
		font-size: 16px
		.text_second
			font-size: 16px;
			margin: 20px auto;
		.learn
			font-size: 16px
		.futter_btn
			margin-top: 15px
			width: 550px
			font-size: 16px
	footer
		font: 1em sans-serif

@media (max-width:  575px)
		.promo
			.title
				font-size: 24px
			.title_small
				padding-top: 16px
				font-size: 15px
			.promo_wrapper
				flex-direction: column
				.cover_book
					margin-left: auto
		
		.box1_cs
			h1
				font-size: 34px;
			



	
	